
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about as</title>
    <link rel="stylesheet" href="{% static "About.css" %}">
    <link rel="stylesheet" href="{% static "Footer.css" %}">
</head>
<body>

<div >
<header class="box">
      <nav style="padding-top: 50px;">
        <img src="\static\images\logo-web.png" alt="" style="width:110px; height:100px; margin-left:-45px; margin-top:15px"> 
    <div  class="box1">
        
        
       <article style=" margin-left:100px"> 
        <a href="/">Home</a>
        <a href="">About us</a>
        <a href="/Assesment">Assessment</a>
        <a href="/Library">Career Library</a>
        <a href="/Blog">Blog</a>
        <a href="/Dashboard">Dashboard</a>
        <a href="/Contact/">Contact</a>
     </article>
      
     <button style="background-color: orange; margin-left:-42px;  margin-top:px"> <a href="/signup" style="color:white;"> Sign Up</a> </button>
    </nav>

 <div style="margin-top:-62px;">

    <div class="text1"  >
        <h1>About Us</h1>
        
    </div>
 <div class="p"><p>No.1 Tech based Career Counselling Platform</p></div>
    </div>
    <div >
    <img class="stdimage" src="images/studentimg.png" alt="">
    </div>
  </div>

</header>


</div>
    <main>
     <div class="box3">
       <article> <h1>Who we are</h1> <br>
        <p>Mere Mentor is an EdTech organization delivering <br>career counselling services to the students and youth of <br> the country. We deliver our services to individuals <br> as well as educational systems and <br> institutions to explore the factors that would help them to align their  <br>career path in the future, based on their current quests in life.</p><br>
        <p>Our products are shaped for, and cater to the following groups:</p><br>
        <ul>
            <li>Grade 8 th - 9 th</li>
            <li>Grade 10th - 12th</li>
            <li>College Graduates</li>
            <li>Working professionals</li>
        </ul>
        
      
    </article>
    <article>
        <img src="https://www.merementor.com/static/media/about-us.1ca7f8aac672d0fee8e1.gif" alt="" height="400px" width="400">
    </article>
</div> <br><br><br><br>

<div>
  <div class="one">
    <h1>What we offer</h1>
</div> <br><br><br>


<div class="on">
    
    <div class="two">
        <article class="three">
           <span> <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTgMQHt4GWyIacDN6pLO2hkqYhjXFus4orAnWLgQ5ctgOawNj0w" alt="" height="50px"></span>
           <span> <h3>Career Assessment</h1>
                <p>Our psychometric assessments <br> explore multiple components that <br>are vital aspects in shaping one’s <br> career pathway.</p>
            </span>
        </article>
        <article class="three">
            <span>
                <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSVPhrXUuP1byvMiW4PRwoQDlHX9eBMa0ckTqFa-L4RUKI3-l5f" alt="" height="50px"></span>
               <span> <h3>Career Report</h3>
                <p>A dive into the assessment <br>to understand the various <br>components and how <br> they shape career decisions</p>
            </span>
            
        </article>
        <article class="three">
            <span>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3edEkw7PyFR6veT4jJyFbx3xvvcArdMRqNI4t_MyERT1Pf1_X" alt="" height="50px"></span>
                <span><h3>Individual career counselling</h3>
                <p>Counselling session with a <br>career counsellor to elucidate <br>the career report, explore <br>feasibility, and align pathways.</p>
            </span>
        </article>
    </div> <br><br><br><br><br>
    <div class="two">
        <article class="three">
           <span> <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS6NpSOKrGd7RFFffrF9B2E7z3ODyGhMfKAVUBzM3Qw63xyXT6m" alt="" height="50px"></span>
           <span> <h3>Action Plan</h1>
                <p>Individualized plan based on <br>counselling session, charting a <br>streamlined  course towards <br> specific goals</p>
            </span>
        </article>
        <article class="three">
            <span>
                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTJT_A1AhTJkivEWf-KeYbp7j6dC3lV4kU2pBN3YZPw-tz4hEKO" alt="" height="50px"></span>
               <span> <h3>Career Library</h3>
                <p>Vast number of career areas <br> are explained in detail, a vital <br> tool in the time of  <br>career exploration and search</p>
            </span>
            
        </article>
        <article class="three">
            <span>
                <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRY86NM6uXQTPv5O9lk20dJcgdkrJsvox0HbqGDOqIUB8lQHq-o" alt="" height="50px"></span>
            <span><h3>Expert Connect</h3>
            <p>Session with an expert from <br> a career field, to inspire, <br>sort confusion, and <br> understand the world of work</p>
        </span>
    </article>
</div>
</div><br><br><br><br><br><br><br>


<!-- <div >
    <div class="last">
  <article>
 <h1 style="font-size:35px;">Our USP</h1> <br><br>
 <p class="">Mere Mentor is here to help you through the process  of determining the right pick of stream, course,  or college as a pathway to the career that would  be your best fit. We achieve this through  the flow of career assessment, career reports, one to  one counselling and personalized action plan.  Our career assessments are built for each category deliberated based on the needs of the age group. Our distinctive  products and services have the following features:     </p>
</article>
</div><br><br>
<div class="last1">
<article>
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQvReZSietn0u6d_dFnt4JCFxvo6Byn7zCGcu7Zh-HAD6I7ZSWa" alt="" height="50px">
    <h1>Digital Career Library</h1>
    <p>Extensive career library with details about a <br>plethora of career paths and how to get there</p>
</article>
<article>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTdcPg6i8vZUXH4O-kiJTKPZAyuSi9kgbjjOEfMyjEfh_b7XX-" alt="" height="50px">
    <h1>End to End support</h1>
    <p>Customer support right from <br> the first query to their last quest</p>
</article>
</div><br><br><br><br><br>
<div class="last1">
<article>
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTVzm_UpcAys3zYmHVpnUEbOtXfgw-SU4OahNMH1_CfQ9JlrY9H" alt="" height="50px">
    <h1>Psychometric assessment</h1>
    <p>Our assessment tool is built keeping in mind the <br> unique requirements of the age groups</p>
</article>
<article>
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSNvYxmoLocmFR631NYv-sng7Irc0TANUeAXcxhFK4x0BEWa224" alt="" height="50px">
    <h1>Exam stress Buster</h1>
    <p>The one form of hassle even students carry <br>, and we are here to help you tackle that</p>
</article>

</div>
</div> -->
</main>

</div>

<!-- footer start -->
<div style="background-color:#21262c ;" >
   <footer class="bo">
   <div class="contain">
    <article>
        <h1>About us</h1><br><br>
        <p style="font-size: 20px; ">Online Career Counsellor <br>Guidance for Students Free <br>Career Assessments - Aims to <br> reduce the gap in the career <br>selection process faced by <br>parents & students</p><br><br><br>
       <span style="gap: 30px;"> <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i  class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-whatsapp"></i>
    </span>
     </article>
     <article>
       <h1>Get in Touch</h1><br><br>
      <p style="font-size: 20px;"> Balaghat MP India</p><br>
      <i class="fa-sharp fa-solid fa-envelope"></i>  dipaleerahangdale47@gmail.com <br><br>
      <i class="fa-solid fa-phone-volume"></i>  6267889321
     </article>
     <article>
        <h1 >Know More</h1><br><br>
        <ul style="font-size: 20px;" >
            <a id="box" href="#">Counsellors   ..</a><br>
            <a id="box"  href="#">FAQs</a> <br>
          
            <a id="box"  href="#">Gallery</a><br>
            <a id="box"  href="#">Sitemap</a><br><br>
        </ul>
     </article>
     <article>
        <img src="https://www.merementor.com/static/media/google-review.cf37b492acd2ed1ad605.png" alt="" height="270px">
     </article>
</div>

<!-- <div class="last">
    <p>
        Game Based Career Assignment in India |Career assessment test for free|<br>Career Guidance for Student|<br>>Career Guidance After 10th|<br>>Career Guidance After 12th|<br>Career Guidance College Graduate Students|
    </p>
</div><br><br> -->
<div class="f">
    <p>© 2022. All Rights Reserved by Career Guidance</p>
</div><br><br><br><br>
</footer> 
</div>
</body>
</html>

