{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "Blog.css" %}">
    <link rel="stylesheet" href="{% static "Footer.css" %}">
    <link rel="stylesheet" href="{% static "Contact.css" %}">
</head>
<body>
  <nav>

    <!-- <img src="\static\images\logo-web.png" alt="" style="width:110px; height:100px; margin-left:-45px; margin-top:15px">  -->
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/About">About</a></li>
        <li><a href="/Assesment">Assesment</a></li>
        <li><a href="/Library">Career Library</a></li>
        <li><a href="/Dashboard">Dashboard</a></li>
        <li><a href="/Contact">Contact</a></li>
        <button id="sign-btn"> <a href="/signup" > Sign Up</a> </button>
    </ul>
</nav>
 <h1 class="title"> Blog </h1>

    <div class="container">
        <div class="card">
          <div class="card__header">
           <a href="https://parwcc.com/page/CPCC_new" target="_blank"> <img src="https://admin.merementor.com/media/gallery_photos/NTGsFG1713418759.jpg" alt="card__image" class="card__image" width="600"> </a>
          </div>
          <div class="card__body">
            <span class="tag tag-blue">Technology</span>
            <h4>What's new in 2022 Tech</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
          </div>
         
        </div>
        <div class="card">
          <div class="card__header">
            <a href="https://www.thehindu.com/education/ministry-of-education-issues-guidelines-for-coaching-centres-prohibits-intake-of-students-below-16-years/article67751924.ece"><img src="https://admin.merementor.com/media/gallery_photos/wzJ1Tc1712747200.jpg" alt="card__image" class="card__image" width="600"></a>
          </div>
          <div class="card__body">
            <span class="tag tag-brown">IT</span>
            <h4>Delicious Food</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
          </div>
          
        </div>
        <div class="card">
          <div class="card__header">

          
            <img src="https://admin.merementor.com/media/gallery_photos/DnTrHT1712725391.jpg" alt="card__image" class="card__image" width="600">
          </div>
          <div class="card__body">
            <span class="tag tag-red">Automobile</span>
            <h4>Race to your heart content</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
          </div>
        
        </div>
        <div class="card">
          <div class="card__header">
            <img src="https://admin.merementor.com/media/gallery_photos/NTGsFG1713418759.jpg" alt="card__image" class="card__image" width="600">
          </div>
          <div class="card__body">
            <span class="tag tag-blue">Technology</span>
            <h4>What's new in 2022 Tech</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
          </div>
         
        </div>
        <div class="card">
          <div class="card__header">
           <a href="https://www.pragatiprakashan.co.in/blog/career-options-after-12th"> <img src="https://admin.merementor.com/media/gallery_photos/wzJ1Tc1712747200.jpg" alt="card__image" class="card__image" width="600"></a>
          </div>
          <div class="card__body">
            <span class="tag tag-brown">IT</span>
            <h4>Delicious Food</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
          </div>
          
        </div>
        <div class="card">
          <div class="card__header">
            <img src="https://admin.merementor.com/media/gallery_photos/DnTrHT1712725391.jpg" alt="card__image" class="card__image" width="600">
          </div>
          <div class="card__body">
            <span class="tag tag-red">Automobile</span>
            <h4>Race to your heart content</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
          </div>
        
        </div>
      </div>

      <!-- footer start -->
      <div style="background-color:#21262c ;" >
        <footer class="bo">
            <div class="contain">
                <article>
                    <h1>About us</h1><br><br>
                    <p style="font-size: 20px; ">Online Career Counsellor <br>Guidance for Students Free <br>Career Assessments - Aims to <br> reduce the gap in the career <br>selection process faced by <br>parents & students</p><br><br><br>
                   <span style="gap: 30px;"> <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i  class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                </span>
                 </article>
                 <article>
                   <h1>Get in Touch</h1><br><br>
                  <p style="font-size: 20px;"> Balaghat MP India</p><br>
                  <i class="fa-sharp fa-solid fa-envelope"></i>  dipaleerahangdale47@gmail.com <br><br>
                  <i class="fa-solid fa-phone-volume"></i>  6267889321
                 </article>
                 <article>
                    <h1 >Know More</h1><br><br>
                    <ul style="font-size: 20px;" >
                        <a id="box" href="#">Counsellors   ..</a><br>
                        <a id="box"  href="#">FAQs</a> <br>
                      
                        <a id="box"  href="#">Gallery</a><br>
                        <a id="box"  href="#">Sitemap</a><br><br>
                    </ul>
                 </article>
                 <article>
                    <img src="https://www.merementor.com/static/media/google-review.cf37b492acd2ed1ad605.png" alt="" height="270px">
                 </article>
            </div>
            <div class="text">
                <p style="font-size: 20px;">
                 <a href="">  best career counselling in India </a>  |  <a href="">best career counselling in Mumbai </a>  |  <a href=""> best career counselling in Bangalore  </a>  |<br> <a href="">best career counselling in Pune </a>     |       <a href="">  best career counselling in India </a>  |  <a href="">best career counselling in Mumbai </a>  |  <a href=""> best career counselling in Bangalore  </a>  |<br> <a href="">best career counselling in Pune </a> <a href="">  best career counselling after 12 th </a>  |  <a href="">Career Guidance College Graduate Students  </a>  |  <a href=""> Certified Professional for Career    </a>  |<br> <a href="">best career counselling in Pune </a> | <a href="">  best career counselling in India </a>  |  <a href="">best career counselling in Mumbai </a>  |  <a href=""> best career counselling in Bangalore  </a>  |<br> <a href="">best career counselling in Pune </a>               
                    
                
                </p>
            </div><br><br><br>
            <!-- <div class="last">
                <p>
                    Game Based Career Assignment in India |Career assessment test for free|<br>Career Guidance for Student|<br>>Career Guidance After 10th|<br>>Career Guidance After 12th|<br>Career Guidance College Graduate Students|
                </p>
            </div><br><br> -->
            <div class="f">
                <p>© 2022. All Rights Reserved by Career Guidance</p>
            </div><br><br><br><br>
        </footer> 
        </div>
</body>
</html>