{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Career in Civil Services</title>
	<link rel="stylesheet" href="{% static "Servicesinnerlibrary.css" %}">
</head>
<body>
	<header>
		<h1> Jewellery Design</h1>
	</header>
	<main>
		<section>
            <div>
                <h2>How to Have a Career in Jewellery Designing</h2>
               <p>Aspirants are trained and equipped to design, mould, cut, polish, shape, stone setting, welding, and engraving to have a career in Jewellery Design. An individual who can sense the fashion or accessory style or design or create can pursue a career in Jewellery designing.</p>
            </div>

            <div>
			<h2>About Jewellery Designer</h2>
            <p>The art of designing pieces of jewellery is a sparkling career as designers get to work with precious metals, diamonds, beads, and gemstones. The designer needs to have an eye for all the details in making the jewellery. The profession requires a lot of training, sharpening, and creativity skills. A Jewellery Designer may create jewellery which can be one of a kind.</p>
           
        </div>
        
        <div>
			<h2>Eligibility to become a Jewellery Designer</h2>
          
            <ul>
                <li>There are diploma and certification courses in Jewellery Designing. The course duration can vary from 6 months to 1 year</li>
                <li> <b>U.G. Level</b>  - Candidates from any stream in 10-12 can apply for Jewellery Designing with 45% aggregate. Some institutes may ask candidates' portfolios to understand their basic sketching, designing, and drawing knowledge</li>
                <li><b> P.G. Level </b>- Candidates should have completed their bachelor's in jewellery design to pursue a master's in Jewellery design</li>
            </ul>
        </div>
        
        <div>
           <h2>How to Become a Jewellery Designer</h2>
            <p>The following steps are essential to becoming an Accessory Designer. </p>
           <ul>
            <li>Candidates can take any stream at an 11-12th level. It is not mandatory to choose one particular stream to pursue Jewellery designing</li>
            <li>Candidates can also take sketching classes in school to be skilled in the artwork</li>
            <li>The candidates should complete their Bachelor's and Masters's in Jewellery Design</li>
            <li>During the bachelor's and Master's academic programs, candidates can take up internships to gain practical knowledge about Jewellery Designing</li>
           </ul>
		</div>

        <div>
            <h2>Top Jewelry Designing Institutes in India</h2>
             <p>Colleges and institutes offer diplomas, certification, and U.G. and P.G. courses. </p>
            <ul>
                <li>Indian Institute of Gems and Jewellery</li>
                <li>Gemological Institute of India</li>
                <li>Indian Institute of Jewellery</li>
                <li>Pearl Academy of Fashion</li>
                <li>ARCH Academy of Design</li>
            </ul>
            </div>

          
        <div>
             <h2>Jewellery Designing Entrance Exams</h2>
             <ul>
                <li>G.D. Goenka Design Aptitude Test by All India Entrance Exam for Design</li>
                <li>Pearl Academy Entrance Exam by GLS Institute of Design Design Aptitude Test</li>
             </ul>
        </div>

            <div>
                <h2>Career Opportunities in Jewellery Designing</h2>
                <p>There are career opportunities in private and public sectors, such as working in Museums, Antique Houses, Mines, etc. Jewellery Designers can start their jewellery businesses or establishments. Research and development organisations can also be the area for the jewellery designers to conduct and work</p>
            </div>

            <div>
                <h2>Jobs in Jewellery Designing:</h2>
                <p>Some of the top recruiters that hire fresh graduates for Jewellery Designer career options: </p>
                 <ul>
                    <li>Tanishq by Tata Group </li>
                    <li>Malabar Gold and Diamonds</li>
                    <li>Joyalukkas</li>
                    <li>Amrapali Jewels</li>
                    <li>Orra Jewellery</li>
                    <li>Myntra</li>
                 </ul>
            </div>


            <div>
                <h2 >Salary in Jewellery Designing</h2>
                 <p>The pay scale for a Jewellery Designer depends on the educational qualification, experience, and work specialization. Aspirants can expect their monthly salary to range from Rupees 7000 to 8000. With experience, aspirants can receive a paycheck from Rupee 18,000 to Rupee 20,000 or more. Expert designers can get up to Rupee 1 lakh a month.</p>
            </div>

        

		</section>
	</main>
</body>
</html>