{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Career in Civil Services</title>
	<link rel="stylesheet" href="{% static "Servicesinnerlibrary.css" %}">
</head>
<body>
	<header>
		<h1> Indian Army</h1>
	</header>
	<main>
		<section>
            <div>
                <h2>How To Have A Career In The Indian Army</h2>
                  <p>The Indian Army is the overland branch and the largest unit of the Indian Armed Forces. The Supreme Commander of the Indian Army is the name given to the President of India, and its professional head, Chief of Army Staff, is a four-star general. </p>
<p>The Indian Armed Forces consist of four uniformed executive services: The Indian Army, the Indian Air Force, the Indian Navy, and the Coast Guard. The different paramilitary organizations and various inter-service institutions also help the Indian Armed Forces. The Ministry of Defence takes responsibility for the management of armed forces in India. </p>
                </div>

            <div>
			<h2>About Being in the Army</h2>
           <p>Initially, the army's main aim was to defend the nation's borderlines. However, over the years, the Indian army has also taken up the responsibility of providing internal security, especially against insurrection in Kashmir and Northeast India. </p>
           <p>Currently, the army is also looking forward to enhancing the capabilities of its exceptional forces. With the increasing international role of India as a country and the requirement to protect its interest in abroad countries become important. The Indian Navy and the Indian Army are jointly planning to set up a marine brigade.</p>
        </div>
        
        <div>
			<h2>ligibility for Joining Indian Army</h2>
            <p>Eligibility Criteria </p>
          <ul>
            <li>A candidate must not be married and must be a citizen of India</li>
            <li>A candidate must not be below the age of sixteen on the first day of the month in which the course is commencing.</li>
            <li>Candidates who have a 10+2 (PCM) certificate with 70% aggregate marks in PCM are eligible for this entry.</li>
            <li>Candidates must have a minimum height of 137 cm with correspondent weight and a proportionate chest with a minimum of 5 cm of expansion.</li>
            <li>Candidates should also have an unaided distant vision on 6/12, or 6/18.</li>
        </ul>
        </div>
        
        <div>
			<h2>How to Become an Indian Army Officer</h2>
           <p>To apply for the Indian Army Technical Entry Scheme, the candidate must qualify for 10+2 Examinations or its equivalent with minimum aggregate marks of 70% in Physics, Chemistry, and Mathematics from the recognized education board. The selection of candidates is made based on the SSB interview. Soldier General Duty post's minimum requirement is a class 10 degree with an aggregate score of 45% with at least 33% marks in each subject. For Gorkha aspirants, a class 10 degree is enough to take part in the rally.</p>
		    <p>To become a Major in the Army, the candidates first need to join the National Defence Academy or Combine Defence Services. To join NDA/CDS, a candidate must attend the entrance exam conducted by the Union Public Service Commission (UPSC), New Delhi, twice a year.</p>
        </div>

        <div>
            <h2>Top Defense Training Institutions in India</h2>
<p>There are 142 defence training institutions in India. The list of important institutions providing training to officers of the Indian Army, Indian Navy, and Indian Air Force: </p>
      <ul>
        <li>National Defence Academy, Pune (Maharashtra)</li>
        <li>Indian Military Academy, Dehradun (Uttarakhand)</li>
        <li>Institute of Military Law, Maharashtra</li>
        <li>Army Air Defence College, Gopalpur (Odisha) </li>
        <li>Military College of Electronics andMechanical, Telangana</li>
        <li>Officer's Training Academy, Chennai (Tamil Nadu)</li>
        <li>Army War College, Madhya Pradesh</li>
      </ul>
      <p>One of the most famous defence entrance exams in the country is the NDA. The exam is conducted for admission in the Army, Navy, and Air Force wings of NDA and Indian Naval Academy Course (INAC). NDA is conducted twice a year and in two stages: a written exam and an SSB interview.</p>
   </div>

          
        <div>
            <h2>Indian Army entrance exam</h2>
              <p>UPSC and the Indian Army conduct various entrance exams such as CDS, NDA, AFCAT, and Indian Coast Guard for recruitment purposes. Every citizen of India, irrespective of class, caste, religion, and community are eligible to appear for the Indian Army Entrance Exams provided they meet the criteria such as physical standard, age, and educational qualification.</p>
        </div>

            <div>
                <h2>Career Opportunities in the Indian Army</h2>
                 <p>An officer of the Indian Army becomes a part of the magnificent heritage and enduring traditions, combined perfectly with the newest technology in the fields of management, engineering, and medical sciences. It offers an exquisite chance to be a part of the world's finest Army. </p>
                <p>It provides training not only to be an Official but also a Gentleman for life. On successful completion, of course, the cadets are granted permanent commission in Lt's rank in the Army in the technical branches like EME, SINGS, and ENGRS.</p>
                </div>

            <div>
                <h2>Employment Sector/Industry for Indian Army</h2>
                  <p>The defence industry of India is a vital sector in India. With a strength of over 14.4 lakhs(1.44 million) active employees, it is one of the world's largest military forces. The total budget sanctioned for the Indian military for the financial year 2019 is Rs 4,31,011 crore ($60.9 billion). </p>
              
            </div>


            <div>
                <h2>Jobs in Indian Army</h2>
                   <p>Job Roles in the Indian Army </p>
                   <ul>
                    <li>Infantry</li>
                    <li>Artillery</li>
                    <li>Armoured Corps</li>
                    <li>Engineers</li>
                    <li>Signals</li>
                    <li>Education Corps</li>
                    <li>Military Police</li>
                   </ul>
            </div>

             <div>
            <h2>Study Material to Become an Army Officer</h2>
               <p>Army officer study material</p>
         
               <ul>
                <li>Everything about Artillery Regiment
                </li>
                <li>Infantry Regiment of Indian Army</li>
                <li>Permanent Commission Officer in Indian Army</li>
               </ul>
        </div>

		</section>
	</main>
</body>
</html>