{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Career in Civil Services</title>
	<link rel="stylesheet" href="{% static "/Servicesinnerlibrary.css" %}">
</head>
<body>
	<header>
		<h1> Electronics And Computer Engineering</h1>
	</header>
	<main>
		<section>
            <div>
                <h2>How To Have A Career In Electronics And Computer Engineering</h2>
                <p>The world today possess challenges when it comes to the growth trajectory of career development. With the Rapid growth in a telecommunication system, consumer Electronics And Computer Based design demand in both public and private sectors have grown.</p>
                <p>The difference between a computer science engineering graduate and an electronics And Computer Engineering graduate is that an ECE student additionally studies the fundamentals of electronics hardware designs, rather than just focusing on programming and IT aspects.</p>
            </div>

            <div>
			<h2>About The Electronics and Computer Engineer:</h2>
             <p>Electronics And Computer engineering graduates get the exposure to building smart systems that involve sensors, processors, actuators, communication networks, IOTs Data Analytics.</p>
            <ul>
                <li>An Electronics And Computer Engineer will render advanced level knowledge in the design of complex software-enabled electronics and microelectronic hardware systems.</li>
                <li>Among the Indian Engineering aspirants, Electronic And Computer Engineering has been a common career choice for quite some time.</li>
                <li>To opt for a profession as an Electronics And Computer Engineer, one should have a curious mind and interest in applying science and mathematics to solve real-world problems.</li>
            </ul>
        </div>
        
        <div>
			<h2>Eligibility To Become An Electrical or Electronics Engineer</h2>
            <p>Candidates can apply for electronics and computer engineering courses at both undergraduate and postgraduate levels.</p>
           <ul>
            <li> <b>For UG level: </b>  Candidates must have cleared 12th with minimum qualifying marks in aggregate with physics, chemistry, and mathematics as core subjects.</li>
            <p> A candidate must also be required to clear the all India entrance examination or entrance examinations conducted by respective universities.</p>
            <li><b> For PG level:</b> Candidates must have a bachelor's in engineering in Electronics And Computer Engineering and a good score in the entrance test held for PG courses conducted by the central, state, and private universities. </li>
           </ul>
        </div>
        
        <div>
			<h2>Top Electrical And Electronics Engineering Institute In India</h2>
            <p>The best colleges to pursue a career as Electronics And Computer Engineer are listed below.</p>
            <ul>
				<li>Indian Institute of Technology, Roorkee</li>
				<li>ISRM University, Amaravati</li>
				<li>Indian Institute of Technology, Delhi</li>
				<li>Indian Institute of Technology, Kanpur</li>
				<li>Birla Institute of Technology and Science, Pilani</li>
				<li>Amity University, Noida</li>
				
			</ul>
			<p>If you want to be involved in the civil services public service sector, you need to have excellent academic records with great intellect and aptitude. If you have leadership qualities, you can be a perfect candidate for this sector. One must be headstrong and possess strong decision-making skills to manage these posts properly.</p>
		</div>

        <div>
            <h2>Electronics And Computer Engineering entrance exam:</h2>
            <p>All India JEE is help for admission to the course every year and features objective type questions and a negative marking scheme. Selection is based on the court of scores said by specific Institutes every year. This cut-off may vary depending on the standard of questions asked. Sometimes, colleges conduct individual tests for direct admissions as well.</p>
        </div>

          
        <div>
            <h2>Career opportunities in Electronics and Computer Engineering:</h2>
          <p>The Global demand for competent and qualified Electronics And Computer engineers is on the rise. The jobs in this field of Electronics And Computer technology include building mechanical parts, working with computers, all troubleshooting electrical problems. An Electronics And Computer engineering graduate can specialize in technical sales, product representation, system management, the study and manufacture of electronic devices and Systems, installations or programming.</p>
            </div>

            <div>
                <h2>Employment Sector/Industry for Electronics and Computer Engineer:</h2>
                <p>An electronics and computer engineer can obtain a job in the consumer electronics manufacturing organization, health Care, IT industry and telecommunication industry, mobile communication, power Electronics industry e and internet Technology sectors.</p>
                 <p>They may also work with machines and electronic equipment in medical manufacturing, industrial control, telecommunication, military, and aeronautical.</p>
            </div>

            <div>
                <h2>Jobs in Electronics And Computer Engineering:</h2>
                <p>An Electronics and computer engineering graduate can work as:</p>
                 <ul>
                    <li>Electrical engineer</li>
                    <li>Network engineer</li>
                    <li>Electronic design engineer</li>
                    <li>Biomedical engineers</li>
                    <li>Desktop support engineer</li>
                    <li>Teacher or professor</li>
                 </ul>
            </div>


            <div>
                <h2>Salary of an Electronics and Computer Engineer:</h2>
                 <p>Electronics and Computer Engineering's job market is on-demand, and industries are looking for qualified Electronics And Computer engineers who can assist them with the latest technologies. The salary of an Electronics And Computer Engineer will it depend on one's experience and skill set.</p>
              <p>An electronics design engineer's salary may range from 1.5-14 LPA based on the job profiles. With proper skills, control engineers and electrical engineers can expect a wage range from 2-12 LPA and 1.5-8 LPA, respectively.</p>
            </div>

             <div>
            <h2>Study material to become an Electronics and Computer Engineer:</h2>
           <p>Pursue a career in Electronics And Computer Engineering, which will require a professional degree for which you need to appear for related experience exams. Hence, there are no specific books. Some books that might help you in the preparation are:</p>  
           <ul>
            <li>Integrated Electronics by Jacob Millman</li>
            <li>Higher Engineering Mathematics by BS Grewal</li>
            <li>Fundamentals of digital circuits by A A Kumar</li>
            <li>Principles of communication systems by Herbert Taub</li>
            <li>Antenna and wave propagation by KD Prasad</li>
            <li>Electronic devices and circuits by Jacob Millman
            </li>
           </ul>
        </div>

		</section>
	</main>
</body>
</html>