{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "Faq.css" %}">
    <link rel="stylesheet" href="{% static "Footer.css" %}">
</head>
<body>

  <nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="assesment.html">Assesment</a></li>
        <li><a href="blog.html">Career Library</a></li>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</nav>


    <h1>Frequently Asked Questions</h1>
    <div class="faqs-container">
        <div class="faq active">
          <h3 class="faq-title">
            Why shouldn't we trust atoms?
          </h3>
          <p class="faq-text">
            They make up everything.
          </p>
          <button class="faq-toggle">
            <i class="fas fa-chevron-down"></i>
            <i class="fas fa-times"></i>
          </button>
        </div>
        
        <div class="faq">
          <h3 class="faq-title">
            What do you call someone with no body and no nose?
          </h3>
          <p class="faq-text">
            Nobody knows.
          </p>
          <button class="faq-toggle">
            <i class="fas fa-chevron-down"></i>
            <i class="fas fa-times"></i>
          </button>
        </div>
        
        <div class="faq">
          <h3 class="faq-title">
            What's the object-oriented way to become wealthy?
          </h3>
          <p class="faq-text">
            Inheritance.
          </p>
          <button class="faq-toggle">
            <i class="fas fa-chevron-down"></i>
            <i class="fas fa-times"></i>
          </button>
        </div>
        
        <div class="faq">
          <h3 class="faq-title">
            How many tickles does it take to tickle an octopus?
          </h3>
          <p class="faq-text">
            Ten-tickles!
          </p>
          <button class="faq-toggle">
            <i class="fas fa-chevron-down"></i>
            <i class="fas fa-times"></i>
          </button>
        </div>
        
        <div class="faq">
          <h3 class="faq-title">
            What is: 1 + 1?
          </h3>
          <p class="faq-text">
            Depends on who are you asking.
          </p>
          <button class="faq-toggle">
            <i class="fas fa-chevron-down"></i>
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>

      <div style="background-color:#21262c ;" >
        <footer class="bo">
            <div class="contain">
                <article>
                    <h1 style="font-size: 25px;">About us</h1><br><br>
                    <p style="font-size: 20px; ">Online Career Counsellor <br>Guidance for Students Free <br>Career Assessments - Aims to <br> reduce the gap in the career <br>selection process faced by <br>parents & students</p><br><br><br>
                   <span style="gap: 30px;"> <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i  class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                </span>
                 </article>
                 <article>
                   <h1 style="font-size: 25px;">Get in Touch</h1><br><br>
                  <p style="font-size: 20px;"> Balaghat MP India</p><br>
                  <i class="fa-sharp fa-solid fa-envelope"></i>  dipaleerahangdale47@gmail.com <br><br>
                  <i class="fa-solid fa-phone-volume"></i>  6267889321
                 </article>
                 <article>
                    <h1 style="font-size: 20px;">Know More</h1><br><br>
                    <ul style="font-size: 18px;" >
                        <a id="box" href="#">Counsellors   </a><br>
                        <a id="box"  href="Faq.html">FAQs </a> <br>
                      
                        <a id="box"  href="#">Gallery</a><br>
                        <a id="box"  href="#">Sitemap</a><br><br>
                    </ul>
                 </article>
                 <article>
                    <img src="https://www.merementor.com/static/media/google-review.cf37b492acd2ed1ad605.png" alt="" height="270px">
                 </article>
            </div>
            <div class="text">
                <p style="font-size: 20px;">
                 <a href="">  best career counselling in India </a>  |  <a href="">best career counselling in Mumbai </a>  |  <a href=""> best career counselling in Bangalore  </a>  |<br> <a href="">best career counselling in Pune </a>     |       <a href="">  best career counselling in India </a>  |  <a href="">best career counselling in Mumbai </a>  |  <a href=""> best career counselling in Bangalore  </a>  |<br> <a href="">best career counselling in Pune </a> <a href="">  best career counselling after 12 th </a>  |  <a href="">Career Guidance College Graduate Students  </a>  |  <a href=""> Certified Professional for Career    </a>  |<br> <a href="">best career counselling in Pune </a> | <a href="">  best career counselling in India </a>  |  <a href="">best career counselling in Mumbai </a>  |  <a href=""> best career counselling in Bangalore  </a>  |<br> <a href="">best career counselling in Pune </a>               
                    
                
                </p>
            </div><br><br><br>
            <!-- <div class="last">
                <p>
                    Game Based Career Assignment in India |Career assessment test for free|<br>Career Guidance for Student|<br>>Career Guidance After 10th|<br>>Career Guidance After 12th|<br>Career Guidance College Graduate Students|
                </p>
            </div><br><br> -->
            <div class="f">
                <p>© 2022. All Rights Reserved by Career Guidance</p>
            </div><br><br><br><br>
        </footer> 
        </div>

  <script src="javascript/faq.js"></script>

</body>
</html>




