{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inner Actuarial</title>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

    <link rel="stylesheet" href="{% static "Innerlibrary.css" %}">
    <style>
   



    </style>
</head>
<body >
    <!-- navbar start  -->
    <section class="nav-sec">
        <nav>
            <input type="checkbox" id="check">
            <label for="check">
             
                <i class="fa-solid fa-bars" id="btn"></i>
                <li class="fa fa-times" style='font-size:24px' id="cancel"></li>
            </label>
            
            <!-- <img src="" alt="" style="width:20px"> -->
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQw7Ruc3aDfDuCbY_FFQ-23U1on7qndeh-dNw&usqp=CAU" alt="">
          <ul>
            <li class="nav-home">  <a href="indexnw.html">Home</a></li>
            <li class="nav-link"> <a href="about.html">About</a>  </li>
            <li class="nav-link"><a href="#">Assessment</a> </li>
            <li class="nav-link"> <a href="#">Career Libary</a> </li>
            <li class="nav-link"><a href="#">Blog</a> </li>
            <li class="nav-link"><a href="contact1.html">Contact</a></li>  
            <li class="nav-link"><a href="userdasboard.html">Userdashbord</a></li>  
            <button > <a href="sign-upnw.html" > Sign In</a> </button>
          </ul>
        </nav>
    </section>

    <!-- navbar end  -->

    <!-- input search & box start -->
    <section class="inner-library">
        <h1>Actuarial Science</h1>

        <div class="inner-box1">
            <h2>How To Have A Career In Actuarial Science</h2>
            <p> 1.  It is necessary to take up Commerce or Science with Mathematics (PCM) after class 10th. <br><br>

                2. After completing your 12th grade,graduation or postgraduate degree, you need to take the Actuarial Common Test (ACET). To become a practising Actuary and become a member of the Institute of Actuaries of India (IAI) <br><br>

                3. There are no standard criteria to pursue your graduation. Still, it is recommended to take B.Sc Mathematics and B.Sc Statistics courses as they will give a strong foundation in Mathematics and statistics, which is necessary for the field <br><br>

                4. Actuarial science is a professional course. Hence, the aspirants must clear four stages to pursue their field. These exams are a combination of practical and written tests. The IAI conducts this examination. <br><br>
                <ul>
                    <li>Stage 1: Core Technical (CT)</li>
                    <li>Stage 2: Core Application (CA)</li>
                    <li>Stage 3: Specialist Technical (ST)</li>
                    <li>Stage 4: Specialist Application (SA)</li>
                </ul> <br>

                <p> Once the candidates pass the first two stages, the individual is termed Associate with the IAI. The individual becomes a fellow by clearing all four stages and gaining three years of experience. After that, you can either pursue higher studies or choose a research field. <br> <br>

                    However, on the clearance of all five papers, the individual can start his career journey as an Actuary. </p>

            </p><br><br>

            <p>
                <h2>About the Actuary</h2>
                <p> 1. Actuarial Science is the discipline that evaluates the financial risks in the finance and insurance field using mathematical and statistical methods. Actuarial Science uses the mathematics of statistics and probability to define, analyze and solve various financial implications of uncertain future events. Actuaries are trained professionals in analytical, statistical, and mathematical skills in any financial or business problem. <br><br>

                   2. Actuaries apply rigorous mathematics to model matters of uncertainty. Their service is precious when facing situations involving uncertain future events or any financial risks in retirement, insurance, investments, and risk management environments. </p> <br><br>
            </p> 

            <p>
                <h2>Eligibility to become an Actuary</h2> <br>
                <h3>The eligibility criteria to become an actuary are listed below:</h3><br>
            <ul>
                <li>1.The candidate should have completed 18 years.</li> <br>

                <li>2. Candidates must have a minimum qualification of 10, +2 with 85% in Mathematics and Statistics.</li><br>

                <li>3.Graduate or Post Graduate with Mathematical subjects with at least 55% in their subjects that fall under a mathematical category like Statistics or any of its sub-classification such as Applied Statistics or Mathematical Statistics,  Subjects in Science such as Physics or any of its branches, Computer Science, Engineering.</li>
            </ul>
            </p> br

                <p> 
                    <h2>How to Become an Actuary</h2> <br>
                    <h3>BBA and ACET </h3> <br>

                    <ul>
                        <li>1. Aspirants seeking the undergraduate course in Actuarial Science need to study mathematics until class 12 and secure a minimum aggregate of 85% in mathematics.</li> <br>
                        <li>2. After passing class 12, aspirants can apply for the ACET exam to pursue the Actuarial Science Course offered by the Institute of Actuaries of India (IAI).</li> <br>
                        <li>3. For other bachelor's degree courses, admissions are made based on merit in the class 12 examination and entrance exams conducted by respective universities. </li> <br>
                    </ul> <br><br>

                    <h3>MBA and PGDM – Actuarial Science </h3><br>

                    <ul>
                        <li>1. Candidates must have a minimum of 60% aggregate marks when passing graduation to apply for PGDM and MBA courses in Actuarial Science.</li> <br>
                        <li>2. Admissions based on management entrance exams – such as CMAT, MAT, and CAT – are done as well as admission personal assessment rounds – such as WAT, Group Discussions and Personal Interviews </li>
                    </ul>
                    <br>

                <h3>Top Actuarial Science Institutes in India</h3><br>
                <ul>
                    <li>1. Even though the demand and popularity of actuarial courses have increased, only a few institutions in India offer these courses. The Institute of Actuaries of India (IAI) is well-known for its certification as it is one of the most reputed actuaries in India. This institution offers its students a formal actuarial course with different exams. </li> <br>

                    <li>2.  This program offers candidates structured and extensive education in the actuarial science field. The IAI provides different levels of courses, and the credentials of an actuary are granted to candidates only if they pass all the course exams. </li>
                </ul>
                    
            </p>


        </div>
    </section>
    
    <!-- input search & box end  -->

    <!-- footer start  -->
    <footer>
        <div class="container">
          <div class="footer-content">
            <div class="footer-section about">
              <h2>About Us</h2>
              <p>Online Career Counsellor Guidance for Students Free Career Assessments - Aims to reduce the gap in the career selection process faced by parents & students</p>
              <div class="contact">
                <span><i class="fas fa-phone"></i> 123-456-7890</span>
                <span><i class="fas fa-envelope"></i> info@careerguidance.com</span>
              </div>
            </div>
            <div class="footer-section links">
              <h2>Get in Touch</h2>
              <p>
                Career Guidance, 1st floor, Govt polytechnic college balaghat– , River View Residency, Gaykhori, mp - balaghat -481001
    
                supportcareerguidance.com
                +919302451035 , 9302771235
              </p>
            </div>
            <div class="footer-section contact-form">
              <h2>Know More</h2>
             <p>
                   <ul>
                <li><a href="#">Counsellors</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Return & Cancellation Policy</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms and Conditions </a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Sitemap
                </a></li>
              </ul>
             </p>
            </div>
            <!-- foot img start  -->
            <div class="footer-section contact-form">
              <img src="footimg.png" alt="" class="foot-img">
              </div>
    
            <!-- foot img end  -->
          </div>
          <div class="footer-bottom">
            &copy; 2024 Career Guidance Website | Designed by Career Guidance Team 
          </div>
        </div>
      </footer>
    <!-- footer end  -->
</body>
</html>