{% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Career in Civil Services</title>
	<link rel="stylesheet" href="{% static "/Servicesinnerlibrary.css" %}">
</head>
<body>
	<header>
		<h1> Law</h1>
	</header>
	<main>
		<section>
            <div>
                <h2>How To Have A Career In Law</h2>
                 <p>Law is a career field where rules and commands are enforced by government agencies. In the field of law, the code of conduct is the major focus to direct the social behavior of the public with a set of rules and practices predefined by the government. </p>
                  <p>A career in law demands adjusting to the changing social and economic circumstances. There are immense job opportunities in this field. Lawyers, who have excellent communication skills, critical and rational thinking and massive knowledge on law and legal procedures have higher job prospects in the corporate houses, state and district courts, even in law firms. </p>
                </div>

            <div>
			<h2>About The Lawyer</h2>
      <p>A lawyer is a person who advises their clients on legal matters and also represents them in court. Attorneys or civil and criminal lawyers are some common names by which a lawyer is often addressed as. The job profile of a lawyer is to draft legal documents like pleadings, contracts, or wills, perform legal research, and also attend on-site inspections when required. </p>
         <p>An advocate advances their client’s case in court in the form of verbal arguments and many times through written documents as well. Their roles can vary according to their field of specialization.</p>
      </div>
        
        <div>
			<h2>Eligibility To Become A Lawyer</h2>
            <p>The eligibility criteria for a candidate to pursue a career in the field of law are:</p>
         <ul>
          <li>Higher-secondary level - The candidate should score at least 45% and above.</li>
          <li>UG Level - The candidates are required to attend a bachelor’s course in law for 3 years from a recognized university.</li>
          <li>Law aspirants can also join an 5 year integrated law course termed B.A. L.L.B.</li>
         </ul>

        </div>
        
        <div>
			<h2>How To Become A Lawyerr</h2>
          <p>The following basic steps are very important for a person to become a lawyer.</p>
        <ul>
          <li>Any candidate aspiring to become a lawyer should have a degree in L.L.B, by giving the entrance tests for various private colleges and universities. </li>
          <li>After the candidate has completed the degree, they are required to enroll themselves in the State Bar Council of that particular state as an advocate. Only after enrolment, they are allowed to practice as an advocate. Eg: State Bar Council of Delhi</li>
          <li>If a candidate wants to pursue higher studies, they can also opt for the L.L.M degree and the Ph.D. degree.</li>
        </ul>
        </div>

        <div>
            <h2>Top Law Institutes In India</h2>
           <p>There are several renowned institutions in India where one can pursue their dream career in law:</p>
      <ul>
        <li>National Law University in Jodhpur</li>
        <li>Amity Law School, Uttar Pradesh</li>
        <li>Banaras Hindu University, Varanasi</li>
        <li>Aligarh Muslim University, Aligarh</li>
        <li>Faculty of Law, Delhi University</li>
        <li>Dr. Ambedkar Law University, Chennai</li>
        <li>ILS Law College, Pune</li>
      </ul>
   </div>

          
        <div>
            <h2>Law Entrance Exam</h2>
           <ul>
            <li>Common-Law Admission Test or CLAT</li>
            <li>Law School Admission Test or LSAT</li>
            <li>MH CET or Maharashtra Common Entrance Test for Law</li>
            <li>All India Law Entrance Test or AILET</li>

           </ul>
          </div>

            <div>
                <h2>Career Opportunities In Law</h2>
                
                <p>
                  There are vast opportunities for law aspirants. They have the choice of practicing in court or working with a corporate firm. They can also become a judge in the court, for which they are required to clear the Public Service Commission examinations.


                </p>
                <p>With some experience, a graduate from the law field can become a solicitor general. They also have the option of working as a legal advisor for different organizations. There are several NGOs that require lawyers. Teaching in colleges and working as a reporter in the news channels or newspapers is another intriguing option. </p>
                </div>

            <div>
                <h2>Employment Sector/Industry For Lawyers</h2>
               <p>There are various sectors, especially in the government sector (both state and central and even local), which offer good job prospects to lawyers. Any lawyer can also choose to practice law on a private basis and offer their services to their clients for their legal rights. </p>
                <p>Several companies require the services of a corporate lawyer. Some banks offer roles as bankruptcy paralegals. Within the private sector too, there are opportunities for a property lawyer or family lawyer. </p>
              </div>


            <div>
                <h2>Jobs In Law</h2>
                   <p>Job Roles in Law </p>
                   <ul>
                    <li>Criminal Lawyer</li>
                    <li>Civil Litigation Lawyer</li>
                    <li>Corporate Lawyer</li>
                    <li>General Attorney</li>
                    <li>Legal Advisor</li>
                    <li>Bankruptcy Paralegal</li>
                    <li>Government Lawyer</li>
                    <li>Judge</li>
                   </ul>
            </div>

             <div>
            <h2>Study Material To Become A Lawyer</h2>
               <p>Lawyer study materials </p>
         
               <ul>
                End of lawyers? Rethinking the nature of legal services, written by Richard Susskind                </li>
                <li>The concept of the Political written by Carl Schmitt</li>
                <li>The social contract by Jean-Jacques Rousseau</li>
               </ul>
        </div>

		</section>
	</main>
</body>
</html>