{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Career in Civil Services</title>
	<link rel="stylesheet" href="{% static "/Servicesinnerlibrary.css" %}">
</head>
<body>
	<header>
		<h1> Marketing</h1>
	</header>
	<main>
		<section>
            <div>
                <h2>How To Have A Career In Marketing</h2>
               <p>Pursuing a career in marketing can take one in many different directions. Marketing refers to the activity of a company undertaking the promotion for buying or selling of products or services. Marketing comprises a number of activities and facets.</p>
               <p>One can find several opportunities in marketing. However, the common factor of those opportunities is the sense of ownership over a product or service along with the necessity of understanding a customer’s desires and needs and then being able to translate those needs into the language of your marketing strategy. </p>
              <p>There are several ways in which marketing communication can be done which is why choosing a career in marketing opens several doors as a profession. </p>
              </div>

            <div>
			<h2>About the Marketer</h2>
            <p>A marketer is a person who is responsible for creating an involvement chain between the product or service provided by the company and the customers availing it. This involvement is gathered by maintaining large stocks of goods for supply or doing the proper advertisement of products for inviting huge sales.</p>
             <p>On choosing the marketing profession, one’s job is going to be taking a general product or service and connecting that with the name of a brand. Marketing can thus be defined as an intermediary function between product development and sales. Marketers are responsible for searching and analyzing a market, before creating, communicating, exchanging, and delivering offers that have value for the respective target audiences. 

             </p>
          </div>
        
        <div>
			<h2>Eligibility to become a Marketer</h2>
            <p>If you decide to choose a career in marketing, here the eligibility criteria one needs to meet to pursue marketing in India.</p>
         
          <ul>
            <li>Choosing the stream commerce in class 10+2 will help one is developing a strong academic foundation regarding the business world. However, individuals from any stream can choose a career in marketing.</li>
            <li>Aspiring candidates must pursue a bachelor’s degree in a relevant field – recommended pursuing BBA or B.Com. </li>
            <li>Candidates who aspire to do jobs on the Executive-level need to pursue an MBA or a Post-Graduate Diploma in Management (PGDM)</li>
          </ul>
        </div>
        
        <div>
			<h2>How to Become a Marketer</h2>
        <p>Apart from the eligibility criteria, one must also have a number of different skills to become successful as a marketer. In order to become successful in the marketing domain, here are a few skills that one needs to have.</p>
     
        <ul>
          <li> <b>Communication skills  </b>– One must be a fluent communicator, as this field is all about communication with the customers either verbally or in writing. </li>
          <li><b>Analytical Thinking Skills </b>  – Marketing requires an understanding of the market, the current trends, and a huge research-based analysis which will help in determining what the audience needs and wants. It will also help in understanding why they want what they want and how they want it. </li>
          <li><b>Negotiation skills </b>  – Being a marketer, one will have to negotiate with their clients on timelines, expectations, and budget. They will also have to converse with vendors and designers etc. and one must be able to reach a hard bargain which serves as a big success as a professional in marketing.  </li>
          <li> <b>Technology skills </b>  – A marketer needs to have a decent amount of knowledge of computers, software, and Microsoft Office. Their technical knowledge will help them executing various responsibilities that their job role holds. </li>
        </ul>
      </div>

        <div>
            <h2>Top Marketing Institutes in India</h2>
              <p>Colleges and Universities in India</p>
           <h3>BBA and B.Com</h3>
           <ul>
            <li>Christ University, Bengaluru</li>
            <li>Madras Christian College – Chennai </li>
            <li>Mount Carmel College – Bengaluru</li>
            <li>Loyola College, Chennai</li>
            <li>St. Xavier’s College, Mumbai</li>
           </ul>MBA</h3>
           <ul>
            <li>Indian Institute of Management, Bangalore</li>
            <li>Indian Institute of Management, Kolkata</li>
            <li>Indian Institute of Management, Indore</li>
            <li>Manipal Academy of Higher Education, Manipal</li>
           </ul>
          </div>

          
        <div>
            <h2>Marketing Entrance Exams</h2>
            <p>There is no particular national-level entrance exam that is conducted nation-wide. The aspiring candidates need to clear the individual entrance exams of each college for the course that they avail themselves. </p>
          </div>

            <div>
                <h2>Career Opportunities in Marketing</h2>
                  <p>Different Career Opportunity  in Marketing </p>
                <ul>
                  <li>Market research</li>
                  <li>Advertising </li>
                  <li>Brand management </li>
                  <li>Public relations </li>
                  <li>Promotions </li>
                </ul>
                </div>

         


            <div>
                <h2>Jobs in Marketing</h2>
                   <p>Different Job roles in marketing: </p>
                   <ul>
                    <li>Market Research Director</li>
                    <li>Market Analyst</li>
                    <li>Market Research Manager</li>
                    <li>Market Research Supervisor</li>
                    <li>Product Manager</li>
                    <li>Advertising Managers</li>
                    <li>Media Coordinator</li>
                   </ul>
            </div>

             <div>
            <h2>Salary of Marketer</h2>
             
            <p>The salary for a content marketing fresher or someone who has less than 3 years of experience has the average salary of 2,00,000 to 4,00,000 per annum. The highest salary given to an executive is around 5,00,000 per annum. And finally, the next level on the charts is the Manager. </p>
        </div>
        <div>
          <h2>Study Material to Become Marketer</h2>
          <ul>
            <li>Performance Partnerships by Robert Glazer</li>
            <li>They Ask You Answer by Marcus Sheridan</li>
            <li>Top of Mind by John HallWhat Customer</li>
            <li>Crave by Nicholas Webb</li>
            <li>Future Marketing by Jon Wuebben</li>
          </ul>
        </div>

		</section>
	</main>
</body>
</html>