{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Website Landing Page</title>
    <link rel="stylesheet" href="{% static "Quizlanding.css" %}">
</head>
<body>
   

    <main>
        <section id="home" class="hero">
            <h2 >Online Assesment </h2>
            <h1>General Instructions</h1>
            <div class="container">
               <ul>
                <li>Total questions for this test is 10.</li>
                <li>Each correct question will grant you 4 marks and total marks for test is 40.</li>
                <li>Read each and every question carefully and answer each one of them honestly. </li>
                <li>Try and take the entire assessment at one shot</li>
               </ul>
            </div>
            <a href="/Quiz10" class="cta-button">Start Quiz</a>

        </section>

       
    </main>

 
</body>
</html>
