{% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Career in Civil Services</title>
	<link rel="stylesheet" href="{% static "Servicesinnerlibrary.css" %}">
</head>
<body>
	<header>
		<h1> Civil Services</h1>
	</header>
	<main>
		<section>
            <div>
                <h2>How To Have A Career In Civil Services</h2>
                <p>Civil services are government sector units aimed at recruiting eligible candidates who can manage and develop a place's social scenario. Civil services are one of the most important and prestigious sectors of the Indian Government.</p>
                <p>Civil services are also one of the most challenging exams to crack. The candidates recruited for civil services are supposed to serve the public with no selfish intentions. The civil service examination is supervised by the Union Public Service Council of India. </p>
            </div>
            <div>
			<h2>About Civil Services</h2>
            <p>Civil services offer a wide range of career opportunities to candidates. The civil services recruit candidates for Indian Administrative Service, Indian Foreign Service, and Indian Police Service. </p>
           <ul>
       <li>If you want to be involved in the civil services public service sector, you need to have excellent academic records with great intellect and aptitude.</li>
       <li>If you have leadership qualities, you can be a perfect candidate for this sector. One must be headstrong and possess strong decision-making skills to manage these posts properly. </li>
                </ul>
        </div>
        <div>
			<h2>Eligibility to become a Civil Servant</h2>
			<p>You can pursue Civil Services after completion of graduation.</p>
			<ul>
				<li>For UG Level: Students need to get into any discipline of study in their under graduation.</li>
				<li>The minimum marks that are required for civil services examinations are 50-55%.</li>
				<li>Any student with a higher score can take up the civil services examination.</li>
				<li>There is a lower age limit of 21 and a higher age limit of 32 years.</li>
				<li>Anyone within the age limit and with adequate qualifications can appear for the civil services examination.</li>
			</ul>
        </div>
        <div>
			<h2>Career Opportunities in Civil Services</h2>
			<p>Civil services offer a wide range of career opportunities to candidates. The civil services recruit candidates for:</p>
			<ul>
				<li>Indian Administrative Service (IAS)</li>
				<li>Indian Foreign Service (IFS)</li>
				<li>Indian Police Service (IPS)</li>
				<li>Indian Forest Service (IFoS)</li>
				<li>Indian Revenue Service (IRS)</li>
				<li>Indian Audit and Accounts Service (IA&AS)</li>
				<li>Indian Defence Accounts Service (IDAS)</li>
				<li>Indian Ordnance Factories Service (IOFS)</li>
				<li>Indian Postal Service (IPoS)</li>
				<li>Indian Railway Traffic Service (IRTS)</li>
				<li>Indian Railway Accounts Service (IRAS)</li>
				<li>Indian Railway Personnel Service (IRPS)</li>
				<li>Indian Trade Service (ITrS)</li>
				<li>Indian Corporate Law Service (ICLS)</li>
				<li>Armed Forces Headquarters Civil Service (AFHCS)</li>
				<li>Pondicherry Civil Service (PCS)</li>
				<li>Delhi, Andaman and Nicobar Islands Civil Service (DANICS)</li>
				<li>Delhi, Andaman and Nicobar Islands Police Service (DANIPS)</li>
			</ul>
			<p>If you want to be involved in the civil services public service sector, you need to have excellent academic records with great intellect and aptitude. If you have leadership qualities, you can be a perfect candidate for this sector. One must be headstrong and possess strong decision-making skills to manage these posts properly.</p>
		</div>

        <div>
            <h2>Salary of Civil Servants</h2>
            <p>The salary of civil service officers begins from 50,000 and may go up to 2,50,000 Indian Currency depending upon the post description and expertise in the field.</p>

        </div>

          
        <div>
            <h2>Study Material to JoinCivil Services</h2>
              <p>Students need to clear the UPSC exam to join the civil services of India. Some of the best books for UPSC are:</p>
        
              <ul>
				<li>India’s Struggle for Independence by Bipan Chandra</li>
				<li>Facets of Indian Culture by Spectrum</li>
				<li>Economic Development & Policies in India by Jain & Ohri</li>
				<li>History of Medieval India by Satish Chandra</li>
				<li>World Geography by Majid Husain</li>
				<li>Introduction to the Constitution of India by DD Basu</li>
				<li>Ethics, Integrity, and Aptitude for Civil Services Main Examination by Subba Rao and P.N. Roy Chaudary</li>
				
		
			</ul>
            <p>There are several other books available in the market. Students can also opt for online study materials and PDFs over books.</p>
            </div>





		</section>
	</main>
</body>
</html>