
nav {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    
      }
   
   nav ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   
   nav ul li {
       display: inline;
   }
   
   nav ul li a {
       display: inline-block;
       color: rgb(17, 14, 14);
       padding: 25px;
       text-decoration: none;
   }
   
   
   
       